@charset "utf-8";
/* CSS Document */

body {

	margin: 0px;
	background-color: #FFFFFF;

}


#flashcontent {

	width: 980px;
	height: 592px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -490px;
	margin-top: -296px;
	text-align:left;	

}
