/* CSS Document */

p {
  color: #000000;
  letter-spacing: 1px;
  font-size: 12px;
  display: inline;
}

a:link {
  color: #004b83;
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  color: #0169b7;
  font-weight: bold;
  text-decoration: underline;
}

/* Used on the '(#)' in the 'News/Home' window / nav while Logged in */
.newsHighlight {

  color: #f3d422;
}

/* Used on the 'Moo Factoids' Number scheme */
.redHighlight {
	
	color: #D50000;
}

/* Used for the error message on all bango forms */
.errorMessage {
	
	color: #D50000;
	font-size: 14px;
}

.blueHighlight {
	
	color: #1968B3;
}

/* Used in the dashboard header, to create sub headers using the same textfield */
.smallHeader {
	color: #1968B3;
	font-size: 24px;

}

.lightblueHighlight {
	
	color: #73B8FA;
}

.brownHighlight {
	
	color: #492D14;
}

/* Used in the Trophies sub header text */
.trophiesSubHeader_small {
	
	font-size: 16px;
}

.headline1 {

  font-family: World Of Natrel (Coop Heavy);
  color: #00ADEF;
  font-size: 36px;
  font-weight: bold;

}

.headline2 {

  font-family: World Of Natrel (Coop Light);
  color: #00ADEF;
  font-size: 24px;
  font-weight: bold;

}

.headline3 {

  font-family: World Of Natrel (Dev Gothic);
  color: #00ADEF;
  font-size: 20px;
  font-weight: bold;

}