﻿body
{
	background-color:#a4dfed;
	background-image: url('../images/bg.jpg');
	background-repeat: repeat-x;
	padding:0px;
	margin:0px;
	overflow: -moz-scrollbars-vertical;
}

#flashcontent
{
	text-align:center;
}