/* Flash CSS Document */


.cyanText {
  color: #00ADEF;
}

.normalText {
  font-size: 25px;
}

.redText {
  color: ##C43537;
}

.bigText {
  font-size: 45px;
}

.medText {
  font-size: 35px;
}
